MainWindow {
    color: white;
    background-color: #00557f;
}

QWidget {
	color: white;
    background-color: #00557f;
	/*border-radius: 10px;*/
}

/*QGroupBox {*/
/*	border: none;*/
/*	border: 2px solid white;*/
/*}*/

QGroupBox {
    /*background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #00557f, stop: 1 #FFFFFF);*/
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 1ex;
}

QGroupBox::title {
    color: black;
	subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 0 3px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #00557f, stop: 1 #FFFFFF);
}

QTabWidget {
	border-color: rgb(255, 255, 255);
	border: none;
	border-left: 1px solid rgb(0, 83, 122);
	border-top: 1px solid rgb(0, 83, 122);
	border-right: 1px solid rgb(0, 50, 74);
	border-bottom: 1px solid rgb(0, 50, 74);
}

QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #C2C7CB;
}

QTabBar::tab {
	/*background-color: rgb(0, 74, 109);*/
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #00557f, stop: 1 #FFFFFF);
	border: 2px solid #C4C4C3;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 2px 5px;
}

QTabBar::tab:selected  {
    background-color:rgb(0, 0, 127);
	color: rgb(85, 255, 0);
}
QListWidget {
	color: rgb(85, 255, 255);
}

QListWidget::item:hover {
	background-color: rgb(0, 50, 74);
	color:rgb(0, 255, 0);
}

QListWidget::item:selected {
    background-color: rgb(0, 74, 109);
}

QPushButton {
	background-color: rgb(0, 74, 109);
	color: rgb(255, 255, 127);
	border: none;
	border-left: 2px solid rgb(0, 83, 122);
	border-top: 2px solid rgb(0, 83, 122);
	border-right: 2px solid rgb(0, 50, 74);
	border-bottom: 2px solid rgb(0, 50, 74);
}

QPushButton:hover {
	background-color: rgb(0, 74, 109);
	color:rgb(0, 255, 0);
}

QPushButton:pressed {
	background-color: rgb(0, 74, 109);
	color: rgb(0, 255, 0);
	border-left: 2px solid rgb(0, 64, 94);
	border-top: 2px solid rgb(0, 64, 94);
	border-right: 2px solid rgb(0, 83, 122);
	border-bottom: 2px solid rgb(0, 83, 122);
}

QComboBox {
background-color: rgb(0, 74, 109);
color: rgb(4, 255, 0);
}

QToolTip {
	color: rgb(0, 0, 127);
}

QLineEdit {
	background-color: rgb(0, 74, 109);
	color: rgb(4, 255, 0);
}

QTableWidget {
    color: "black"
}

QLabel#sensor1_lbl, #sensor2_lbl, #sensor3_lbl, #sensor4_lbl, #sensor5_lbl,
#sensor6_lbl, #sensor7_lbl, #sensor8_lbl, #sensor9_lbl, #sensor51_lbl,
#sensor52_lbl, #sensor53_lbl, #sensor54_lbl, #sensor55_lbl, #sensor56_lbl,
#sensor57_lbl, #sensor58_lbl, #sensor59_lbl, #sensor60_lbl, #sensor61_lbl,
#sensor62_lbl, #sensor63_lbl, #sensor64_lbl, #sensor65_lbl, #sensor66_lbl,
#sensor67_lbl  {
    border: 1px solid rgb(0, 160, 0);
}

QPushButton#norma_btn {
    background-color: rgb(157, 242, 160);
	border: none;

 	font: 75 10pt "Georgia";
 	color: rgb(0, 0, 0);
 	border-radius: 6px;
}

QPushButton#norma_btn:hover {
 	background-color: rgb(152, 234, 154);
 	border-left: 2px solid rgb(0, 160, 0);
 	border-top: 2px solid rgb(0, 160, 0);
 	border-right: 2px solid rgb(0, 160, 0);
 	border-bottom: 2px solid rgb(0, 160, 0);
}

QPushButton#norma_btn:pressed {
 	background-color: rgb(157, 242, 160);
 	background-color: rgb(143, 220, 146);
 	border-left: 2px solid rgb(0, 130, 0);
 	border-top: 2px solid rgb(0, 130, 0);
 	border-right: 2px solid rgb(0, 130, 0);
 	border-bottom: 2px solid rgb(0, 130, 0);
}


QPushButton#fire_btn, #alarm_btn {
	background-color: rgb(173, 0, 0);
	font: 75 10pt "Georgia";
	color: rgb(0, 0, 0);
	border-radius: 6px;
}

QPushButton#fire_btn:hover, #alarm_btn:hover {
	background-color: rgb(173, 0, 0);;
	border-left: 2px solid rgb(0, 160, 0);
	border-top: 2px solid rgb(0, 160, 0);
	border-right: 2px solid rgb(0, 160, 0);
	border-bottom: 2px solid rgb(0, 160, 0);
}

QPushButton#fire_btn:pressed, #alarm_btn:hover {
	background-color: rgb(173, 0, 0);
	border-left: 2px solid rgb(0, 130, 0);
	border-top: 2px solid rgb(0, 130, 0);
	border-right: 2px solid rgb(0, 130, 0);
	border-bottom: 2px solid rgb(0, 130, 0);
}

QPushButton#kz_btn, #break_btn, #non_calibration_btn,
#dirt_btn, #sensitivity_btn, #diff_fire_btn {
	background-color: rgb(255, 140, 0);
	font: 75 10pt "Georgia";
	color: rgb(0, 0, 0);
	border-radius: 6px;
}

QPushButton#kz_btn:hover, #break_btn:hover, #non_calibration_btn:hover,
#dirt_btn:hover, #sensitivity_btn:hover, #diff_fire_btn:hover {
	background-color: rgb(255, 140, 0);
	border-left: 2px solid rgb(0, 160, 0);
	border-top: 2px solid rgb(0, 160, 0);
	border-right: 2px solid rgb(0, 160, 0);
	border-bottom: 2px solid rgb(0, 160, 0);
}

QPushButton#kz_btn:pressed, #break_btn:pressed, #non_calibration_btn:pressed,
#dirt_btn:pressed, #sensitivity_btn:pressed, #diff_fire_btn:pressed {
	background-color: rgb(255, 140, 0);
	border-left: 2px solid rgb(0, 130, 0);
	border-top: 2px solid rgb(0, 130, 0);
	border-right: 2px solid rgb(0, 130, 0);
	border-bottom: 2px solid rgb(0, 130, 0);
}
